@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Zen+Dots&display=swap');
@import "tailwindcss";


@theme {
  --color-bg: #0b0f19;
  --color-card: #12172a;
  --color-accent: #6366f1;
  --color-border: rgba(255, 255, 255, 0.08);
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: "Zen Dots";
  /* font-weight: 400; */
}
.rubik{
  font-family: "Rubik" !important;
}

body {
  background: radial-gradient(
      1200px 600px at 10% -10%,
      rgba(99, 102, 241, 0.08),
      transparent 40%
    ),
    var(--color-bg);
  color: #e5e7eb;
}

/* reusable utility */
.glass {
  background: rgba(18, 23, 42, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid var(--color-border);
}
@layer utilities {
  @keyframes blink-cursor {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  .animate-blink-cursor {
    animation: blink-cursor 1s step-end infinite;
  }
}
